[submodule "go/wrp/ccnf-ref"]
	path = go/wrp/ccnf-ref
	url = https://github.com/markpippins/nexus-go-ccnf-ref.git

[submodule "angular/duality-ui"]
	path = angular/duality-ui
	url = http://www.github.com/markpippins/nexus-duality-ui.git

[submodule "angular/nebula-ui"]
	path = angular/nebula-ui
	url = https://www.github.com/markpippins/nexus-rms.git

[submodule "angular/plurality-ui"]
	path = angular/plurality-ui
	url = https://www.github.com/markpippins/nexus-plurality.git

[submodule "angular/prompt-architect"]
	path = angular/prompt-architect
	url = https://www.github.com/markpippins/prompt-architect.git

[submodule "python/vision/losm-kernel"]
	path = python/vision/losm-kernel
	url = https://github.com/markpippins/nexus-losm-kernel-python.git
[submodule "angular/assembly-ui"]
	path = angular/assembly-ui
	url = https://github.com/markpippins/assembly-ui.git

[submodule "angular/semantics-ui"]
	path = angular/semantics-ui
	url = https://github.com/markpippins/semantics-ui

[submodule "angular/shrapnel-ui"]
	path = angular/shrapnel-ui
	url = https://github.com/markpippins/shrapnel-console-king.git
[submodule "angular/peb-ui"]
	path = angular/peb-ui
	url = https://github.com/markpippins/nexus-peb-ui.git
[submodule "angular/semantic-kernel-ui"]
	path = angular/semantic-kernel-ui
	url = https://github.com/markpippins/nexus-semantic-kernel-ui.git
[submodule "angular/vision-ui"]
	path = angular/vision-ui
	url = https://github.com/markpippins/vision-control-plane.git
[submodule "angular/wind-ui"]
	path = angular/wind-ui
	url = https://github.com/markpippins/nexus-wind-ui.git
