[submodule "go/wrp/ccnf-ref"]
	path = go/wrp/ccnf-ref
	url = https://github.com/markpippins/nexus-go-ccnf-ref.git

[submodule "angular/duality-ui"]
	path = angular/duality-ui
	url = http://www.github.com/markpippins/nexus-duality-ui.git

[submodule "angular/nebula-ui"]
	path = angular/nebula-ui
	url = https://www.github.com/markpippins/nexus-rms.git

[submodule "angular/plurality-ui"]
	path = angular/plurality-ui
	url = https://www.github.com/markpippins/nexus-plurality.git


[submodule "python/vision/losm-kernel"]
	path = python/vision/losm-kernel
	url = https://github.com/markpippins/nexus-losm-kernel-python.git
[submodule "angular/assembly-ui"]
	path = angular/assembly-ui
	url = https://github.com/markpippins/assembly-ui.git

[submodule "angular/semantics-ui"]
	path = angular/semantics-ui
	url = https://github.com/markpippins/semantics-ui

[submodule "angular/peb-ui"]
	path = angular/peb-ui
	url = https://github.com/markpippins/nexus-peb-ui.git
[submodule "angular/semantic-kernel-ui"]
	path = angular/semantic-kernel-ui
	url = https://github.com/markpippins/nexus-semantic-kernel-ui.git
[submodule "angular/vision-ui"]
	path = angular/vision-ui
	url = https://github.com/markpippins/vision-control-plane.git
[submodule "angular/wind-ui"]
	path = angular/wind-ui
	url = https://github.com/markpippins/nexus-wind-ui.git
[submodule "angular/view-architect"]
	path = angular/view-architect
	url = https://github.com/markpippins/prompt-architect.git
[submodule "angular/data-explorer-ui"]
	path = angular/data-explorer-ui
	url = https://github.com/markpippins/Nexus-Data-Explorer.git
[submodule "angular/monaco-judge"]
	path = angular/monaco-judge
	url = https://github.com/markpippins/monaco-judge.git
[submodule "angular/nebula-control-plane"]
	path = angular/nebula-control-plane
	url = https://github.com/markpippins/nebula-control-plane.git
[submodule "angular/throttler-ui"]
	path = angular/throttler-ui
	url = https://github.com/markpippins/nexus-explorer.git
	branch = main
[submodule "angular/wind-ui-v2"]
	path = angular/wind-ui-v2
	url = https://github.com/markpippins/nexus-wind-v2.git

[submodule "docs/attractor"]
	path = docs/attractor
	url = https://github.com/strongdm/attractor.git

[submodule "docs/system prompts"]
	path = docs/system prompts
	url = https://github.com/asgeirtj/system_prompts_leaks.git
